[submodule "PomodoroTimer"]
	path = PomodoroTimer
	url = https://github.com/L-YS-Ayoussef/Pomodoro.git
[submodule "Quizzer-True-False-Quiz-App"]
	path = Quizzer-True-False-Quiz-App
	url = https://github.com/L-YS-Ayoussef/Quizzer-True-False-Quiz-App.git
[submodule "Pong-Game-2-Player-Classic"]
	path = Pong-Game-2-Player-Classic
	url = https://github.com/L-YS-Ayoussef/Pong-Game-2-Player-Classic.git
[submodule "Snake-Game-Classic-Python-Snake"]
	path = Snake-Game-Classic-Python-Snake
	url = https://github.com/L-YS-Ayoussef/Snake-Game-Classic-Python-Snake.git
[submodule "LockIt-Simple-Password-Data-Manager"]
	path = LockIt-Simple-Password-Data-Manager
	url = https://github.com/L-YS-Ayoussef/LockIt-Simple-Password-Data-Manager.git
[submodule "Crossing-Game-Turtle-Dodge"]
	path = Crossing-Game-Turtle-Dodge
	url = https://github.com/L-YS-Ayoussef/Crossing-Game-Turtle-Dodge.git
[submodule "FlashyWords-French-Flashcard-Trainer"]
	path = FlashyWords-French-Flashcard-Trainer
	url = https://github.com/L-YS-Ayoussef/FlashyWords-French-Flashcard-Trainer.git
