[submodule "PomodoroTimer"]
	path = PomodoroTimer
	url = https://github.com/L-YS-Ayoussef/Pomodoro.git
[submodule "Quizzer-True-False-Quiz-App"]
	path = Quizzer-True-False-Quiz-App
	url = https://github.com/L-YS-Ayoussef/Quizzer-True-False-Quiz-App.git
[submodule "Pong-Game-2-Player-Classic"]
	path = Pong-Game-2-Player-Classic
	url = https://github.com/L-YS-Ayoussef/Pong-Game-2-Player-Classic.git
[submodule "Snake-Game-Classic-Python-Snake"]
	path = Snake-Game-Classic-Python-Snake
	url = https://github.com/L-YS-Ayoussef/Snake-Game-Classic-Python-Snake.git
